refer/
videos/
vis_out/

__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/
.deepspeed_env
.DS_Store

tmp_*
data?
data??
data

logs
videos
images
*.mp4
*.rrd

vis_data*/
logs*/

.cache/
pretrained
data/
diffusers/
*.pkl
*.pt
results/
output*/
log*