.DS_Store
vis_out/
refer
videos/
raw_data/
tmp/
bak/
.env
logs/
training/

__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/
.deepspeed_env

tmp_*
data?
data??
data

logs
videos
images
*.mp4
*.rrd

vis_data*/
logs*/

.cache/
pretrained
data/
diffusers/
*.pkl
*.pt
results/
output*/
log*